<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014-2015. Atekihcan <com.atekihcan@gmail.com>
  ~
  ~ Author	: Atekihcan
  ~ Website	: http://atekihcan.github.io
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atekihcan.sendroid" >

    <!-- Needs internet to use Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Needs to check whether network is available before downloading image -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Storage read-write access for saving images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Permission to set alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Creates and uses a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.atekihcan.sendroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.atekihcan.sendroid.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Required for applications which use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atekihcan.sendroid.MainActivity" />
        </activity>

        <!-- BroadcastReceiver to receive intents from GCM services -->
        <receiver
            android:name=".MessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver to receive device restart intent -->
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Various intent services -->
        <service android:name=".NotificationHandleService" />
        <service android:name=".CopyService" />
        <service android:name=".BrowserService" />
        <service android:name=".ImageDownloadService" />
        <service android:name=".ImageCancelService" />
        <service android:name=".FileDeleteService" />
    </application>

</manifest>
